/* .navbar_barcontent {
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
    height: 54px;
    display: flex;
    align-items: center;
}

.navbar_logo {
    display: block;
    margin: 0 auto;
}

.navbar_barcontent input[type="text"] {
    width: 215px;
    height: 28px;
    border: 1px solid #dbdbdb;
    background-color: #efefef;
    border-radius: 3px;
    padding: 3px 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #262626;
    outline: none;
}

.navbar_barcontent input[type="text"]::placeholder {
    color: #8e8e8e;
}

.navbar_wrapper {
    width: 100%;
} */

.navbar__barContent{
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.navbar__logo{
    margin-top: 10px;
}

.navbar__img{
    margin: 15px 10px;
}

.navbar__searchBar{
    height: 30px;
    width: 215px;
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    background-color: #afafafaf;
    border-radius: 5px;
    text-align: center;
}